body {
  background: url('../images/cool-background.png');
}

p {
  text-align: center
}

section {
  padding-top: 100px;
  padding-bottom: 420px;
}

.demo-about-section {
  padding-top: 250px;
  padding-bottom: 270px;
}

.url-link {
    color: white;
}

